<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>Kansas City Metropolitan Explorer</title> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />

    <link rel="stylesheet" href="/css/index.css">
  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>

    <script src="/js/leaflet-heat.js"></script>
    <script src="/js/ddtf.js"></script>
      

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>

<body>

    <!-- nav bar -->
    <nav class="navbar navbar-default">
      <div class="first-nav">
        <ul class="nav navbar-nav">
          <li class="navbar-head"><a class="selected-city" href="/templates/index.html">Kansas City Metropolitan Explorer</a></li>
        </ul>
      </div>
      <div class="second-nav">
        <ul class="nav navbar-nav">
          <li><a class="page-link" href="/templates/page-dashboard.html#page-content">Dashboard</a></li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Area Information<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="page-link" href="/templates/page-area-pop.html#page-content">Population</a></li>
              <li><a class="page-link" href="/templates/page-area-park.html#page-content">Parks</a></li>
              <li><a class="page-link" href="/templates/page-area-recreation.html#page-content">Recreation</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Education<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="page-link" href="/templates/page-education-map.html#page-content">School Map</a></li>
              <li><a class="page-link" href="/templates/page-education-data.html#page-content">School Data</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Crime<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="page-link" href="/templates/page-crime-kc.html#page-content">Kansas City</a></li>
              <li><a class="page-link" href="/templates/page-crime-jc.html#page-content">Johnson County</a></li>
            </ul>
          </li>

          <li><a class="page-link" href="/templates/page-housing.html#page-content">Housing</a></li>

        </ul>
      </div>
    </nav>

    <!-- content box -->
    <div id="page-content" class="box"></div>

    <script>
        $(document).ready(function() {

            // autoload dashboard at startup
            d3.json("/dashboard", function(data) {
                console.log("grad rate " + data)
                var dashboard_fragment = "/templates/page-dashboard.html#page-content";
                $("#page-content").load(dashboard_fragment);
            });

            // load page in the page-content div when clicked
            $(".page-link").click(function(e) {
                e.preventDefault();
                $("#page-content").load($(this).attr('href'));
            });
        });

        function popUpWindow(URL, windowName, windowWidth, windowHeight) {
            var centerLeft = (screen.width/2)-(windowWidth/2);
            var centerTop = (screen.height/2)-(windowHeight/2);
            var windowFeatures = 'toolbar=no, location=no, directories=no, status=no, menubar=no, titlebar=no, scrollbars=no, resizable=yes, ';
            return window.open(URL, windowName, windowFeatures +' width='+ windowWidth +', height='+ windowHeight +', top='+ centerTop +', left='+ centerLeft);
        }
    </script>

</body>




  
