<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Heat Map of Johnson County</title>
</head>
  
<body>

    <div id="page-content" class="box">
        <article>Please add an introduction paragraph here...</article>
        <br>
        <div id="map"></div>
    </div>

    <style>
        #map, body, html, .page-content {
            height: 100% !important;
        } 
    </style>
    <script>
        document.getElementById("map").innerHTML = "";

        // Creating map object
        var countymap = L.map("county-map", {
            center: [39.0997, -94.5786],
            zoom: 9.6
        });

        // Adding tile layer
        let countymapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';
        let countyaccessToken = 'pk.eyJ1IjoicmluY2tkIiwiYSI6ImNpamc3ODR1aDAxMmx0c2x0Zm9lc3E1OTAifQ.pIkP7PdJMrR5TBIp93Dlbg';
        let countyLayer = L.tileLayer(countymapboxUrl, {id: 'mapbox.streets-satellite', maxZoom: 20, accessToken: countyaccessToken});
        countyLayer.addTo(countymap);

        var countylink = "https://raw.githubusercontent.com/jackparmer/mapbox-counties/master/us-counties.json";

        // Function that will determine the color of a neighborhood based on the borough it belongs to
        function chooseColor(name) {
            switch (name) {
            case "Johnson":
                return "yellow";
            case "Jackson":
                return "red";
            case "Wyandotte":
                return "orange";
            case "Platte":
                return "green";
            case "Cass":
                return "purple";
            case "Clay":
                return "pink";
            case "Miami":
                return "blue";
            case "Ray":
                return "white";
            case "Leavenworth":
                return "black";
            default:
                return "black";
            }
        }

        // Grabbing our GeoJSON data..
        d3.json(countylink, function(data) {
            console.log(data);
            // Creating a geoJSON layer with the retrieved data
            L.geoJson(data, {
            style: function(feature) {
                return {
                color: "white",
                fillColor: chooseColor(feature.properties.name),
                fillOpacity: 0.5,
                weight: 1.5
                };
            },
            onEachFeature: function(feature, layer) {
                // Set mouse events to change map styling
                layer.on({
                // When a user's mouse touches a map feature, the mouseover event calls this function, that feature's opacity changes to 90% so that it stands out
                mouseover: function(event) {
                    layer = event.target;
                    layer.setStyle({
                    fillOpacity: 0.9
                    });
                },
                // When the cursor no longer hovers over a map feature - when the mouseout event occurs - the feature's opacity reverts back to 50%
                mouseout: function(event) {
                    layer = event.target;
                    layer.setStyle({
                    fillOpacity: 0.5
                    });
                },
                // When a feature (neighborhood) is clicked, it is enlarged to fit the screen
                click: function(event) {
                    countymap.fitBounds(event.target.getBounds());
                }
                });
                // Giving each feature a pop-up with information pertinent to it
                layer.bindPopup("<h1>" + feature.properties.name + "</h1> <hr>");

            }
            }).addTo(countymap);
        });
    </script>

</body>
</html>
