<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>School Map</title>
</head>

<body>
    <!-- content box -->
    <div id="page-content" class="box">

      <div class="row">
          <article>
              School districts often cross city and county boundaries. Click on map to explore current school boundaries.
          </article>
          <div class="schoolmap">
              </br>
              <div class="embed-container">
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="School District Map"
                  src="//kudataanalytics.maps.arcgis.com/apps/Embed/index.html?webmap=4f512b39431a400b97fe711de9f9e5dc&extent=-95.6636,38.4911,-92.9719,39.5686&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"></iframe>
              </div>
          </div>
      </div>

    </div>

    <script src="/js/education-map.js" type="text/javascript"></script>

</body>

</html>
