<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <title>School Information</title> 
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/school.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Missouri</h1>
      <br>
      <h1>Kansas City Area Schools</br>
      </h1>
     </div>
  </div>
  <div class="col-md-6"></div>
  <!-- save for bar chart, change myTable to col-mid-6 and edit data table to remove proficiency scores-->
  
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <table class=table "table-striped"  id="myTable">
        <thead>
          <tr>
            <th>School District</th>
            <th>County</th>
            <th>Steet Address</th>
            <th>City</th>
            <th>Zip</th>
            <th>Locale</th>
            <th>Student Teacher Ration</th>
            <th>School Type</th>
            <th>Graduation Rate</th>
            <th>Proficiency Reading</th>
            <th>Advanced Proficiency Reading</th>
            <th>Proficiency Math</th>
            <th>Advanced Proficiency Math</th>
            <th>Proficiency Science</th>
            <th>Advanced Proficiency Science</th>
            <th>Proficiency Social</th>
            <th>Advanced Proficiency Social</th>
          </tr>
        </thead>
        <tbody id="myTableBody">
        </tbody>
        
      </table>
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <!-- <script src="MoDataSet.csv" type="text/javascript"></script> -->
      <script src="/js/school.js" type="text/javascript"></script>
      <script src="ddtf.js" type="text/javascript"></script>
      <script>
        jQuery('#myTable'.ddTableFilter());
      </script>
     
</body>

</html>
 
