<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Heat Map of Johnson County</title>
</head>
  
<body>

    <div id="page-content" class="box">
        <div class="headline">
            <h4>Johnson County Police Service Calls</h4>
        </div>
                    
        <article>
            The data shown in the heatmap below comes from 
            the Johnson County Sheriff's Office website 
            <a target="_blank" href="http://www.jocosheriff.org/public-information/sheriffs-crime-mapping">(http://www.jocosheriff.org/public-information/sheriffs-crime-mapping)</a>.
            It includes all calls for police services made 
            within the Johnson County limits from the last 30 
            days (up to 300 incidents). Crime types include all 
            crimes against person, property or society as well 
            as all types of traffic incidents.
        </article>
        <br>
        <div id="map"></div>
    </div>

    <style>
        #map, body, html, .page-content {
            height: 100% !important;
        } 
    </style>
    <script>
        document.getElementById("map").innerHTML = "";

        'use strict';
        var jcMap = L.map('map', {
        center: [39.0997, -94.5786],
        zoom: 11
        });

        let jcmapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';
        let jcaccessToken = 'pk.eyJ1IjoicmluY2tkIiwiYSI6ImNpamc3ODR1aDAxMmx0c2x0Zm9lc3E1OTAifQ.pIkP7PdJMrR5TBIp93Dlbg';
        let jcLayer = L.tileLayer(jcmapboxUrl, {id: 'mapbox.streets-satellite', maxZoom: 20, accessToken: jcaccessToken});
        jcLayer.addTo(jcMap);

        var jcurl = "https://ims.jocogov.org/crimemaps/Handler.ashx?element=divResults&type=!0Calls&query=GetCrimes&Dist=&minDate=3/26/2018&maxDate=4/26/2018&minTime=0000&maxTime=2400&mapLeft=-95.08543212890623&mapRight=-94.57456787109373&mapTop=39.214924447583975&mapBottom=38.57362787062739&maxrec=300&app=jccomp&api=xml&mobi=1"

        d3.xml(jcurl, function(error, data) {
            data = [].map.call(data.querySelectorAll("inc"), function(inc) {
            return {
                latitude: inc.querySelector("Y").textContent,
                longitude: inc.querySelector("X").textContent
            }
            });

            var heatArray = [];

            for (var i = 0; i < data.length; i++) {
                heatArray.push([data[i].latitude, data[i].longitude, 200.0])
            }

            var heat = L.heatLayer(heatArray, {
                                radius: 20,
                                blur: 35
                    }).addTo(jcMap)
        });
    </script>

</body>
</html>
