<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>School Map</title>
</head>

<body>
    <!-- content box -->
    <div id="page-content" class="box">

      <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
            
                    <h2>School District Boundaries</h2>
          
            </div>
            <div class="schoolmap">
              <h4>School districts often cross city and county boundaries. <br>
              Click on map to explore current school boundaries</h4></br>
              <img src="https://www.google.com/maps/d/u/0/viewer?mid=184Xa6OXiSLq6_1O_Hh2C5jXxB_0&ll=38.8801301543254%2C-94.8318681120873&z=10" alt="ARCis" style="width:300px;height:300px;">
            </div>
        </div>
      </div>

    </div>

</body>

</html>
