<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>School Map</title>
</head>

<body>
    <!-- content box -->
    <div id="page-content" class="box">

        <div class="headline">
            <h4>Kansas City Area Schools</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        School District Boundaries
                    </div>
                    <div class="schoolmap">
                        <h4>School districts often cross city and county boundaries.
                        <br> Click on map to explore current school boundaries</h4>
                        </br>
                        <div class="embed-container">
                           <iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="School District Map"
                                src="//kudataanalytics.maps.arcgis.com/apps/Embed/index.html?webmap=4f512b39431a400b97fe711de9f9e5dc&extent=-95.6636,38.4911,-92.9719,39.5686&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Compare Kansas City Schools vs. All Missouri Schools
                    </div>
                    <svg width="960" height="500"></svg>
                </div>
            </div>
        </div> 
    </div>
    
    <style>
        #map,
        body,
        html {
            height: 100%;
        }
        .col-md-4 {
            padding: 20px 20px 20px 20px;
            margin-bottom: 0px;
            background-color: rgb(250, 248, 248);
            border: 1px solid rgb(204, 226, 245);
            align-self: center;
            text-align: center
        }
        .col-md-8 {
            padding: 20px 20px 20px 20px;
            margin-bottom: 0px;
            background-color: rgb(250, 248, 248);
            border: 1px solid rgb(204, 226, 245);
            align-self: center;
        }
    </style>
    <script>
        var svg = d3.select("svg"),
            margin = { top: 20, right: 20, bottom: 30, left: 40 },
            width = +svg.attr("width") - margin.left - margin.right,
            height = +svg.attr("height") - margin.top - margin.bottom,
            g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var x0 = d3.scaleBand()
            .rangeRound([0, width])
            .paddingInner(0.1);

        var x1 = d3.scaleBand()
            .padding(0.05);

        var y = d3.scaleLinear()
            .rangeRound([height, 0]);

        var z = d3.scaleOrdinal()
            .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00", "#736e87"]);
        
            var tooltip = d3.select("body").append("div").attr("class", "toolTip");

        d3.csv("/data/MoCharts3.csv", function (d, i, columns) {
            for (var i = 1, n = columns.length; i < n; ++i) d[columns[i]] = +d[columns[i]];
            return d;
        }, function (error, data) {
            if (error) throw error;

            var keys = data.columns.slice(1);

            x0.domain(data.map(function (d) { return d.Subject; }));
            x1.domain(keys).rangeRound([0, x0.bandwidth()]);
            y.domain([0, d3.max(data, function (d) { return d3.max(keys, function (key) { return d[key]; }); })]).nice();

            g.append("g")
                .selectAll("g")
                .data(data)
                .enter().append("g")
                .attr("transform", function (d) { return "translate(" + x0(d.Subject) + ",0)"; })
                .selectAll("rect")
                .data(function (d) { return keys.map(function (key) { return { key: key, value: d[key] }; }); })
                .enter().append("rect")
                .attr("x", function (d) { return x1(d.key); })
                .attr("y", function (d) { return y(d.value); })
                .attr("width", x1.bandwidth())
                .attr("height", function (d) { return height - y(d.value); })
                .attr("fill", function (d) { return z(d.key); })
                .on("mousemove", function(d){
                    tooltip
                    .style("left", d3.event.pageX - 50 + "px")
                    .style("top", d3.event.pageY - 70 + "px")
                    .style("display", "inline-block")
                    .html((d.area) + "<br>" + "£" + (d.value));
                })
                    .on("mouseout", function(d){ tooltip.style("display", "none");});
            g.append("g")
                .attr("class", "axis")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x0));

            g.append("g")
                .attr("class", "axis")
                .call(d3.axisLeft(y).ticks(null, "s"))
                .append("text")
                .attr("x", 2)
                .attr("y", y(y.ticks().pop()) + 0.5)
                .attr("dy", "0.32em")
                .attr("fill", "#000")
                .attr("font-weight", "bold")
                .attr("text-anchor", "start")
                .text("Percent %");



            var legend = g.append("g")
                .attr("font-family", "sans-serif")
                .attr("font-size", 14)
                .attr("text-anchor", "end")
                .selectAll("g")
                .data(keys.slice().reverse())
                .enter().append("g")
                .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });

            legend.append("rect")
                .attr("x", width - 19)
                .attr("width", 19)
                .attr("height", 19)
                .attr("fill", z);

            legend.append("text")
                .attr("x", width - 24)
                .attr("y", 9.5)
                .attr("dy", "0.32em")
                .text(function (d) { return d; });
            
                var tooltip = svg.append("g")
                .attr("class", "tooltip")
                .style("display", "none");  
            
            tooltip.append("rect")
                .attr("width", 30)
                .attr("height", 20)
                .attr("fill", "white")
                .style("opacity", 0.5);

            tooltip.append("text")
                .attr("x", 15)
                .attr("dy", "1.2em")
                .style("text-anchor", "middle")
                .attr("font-size", "12px")
                .attr("font-weight", "bold");
            });
    </script>

</body>

</html>
