<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <title>Dashboard</title> 
</head>

<body>

    <!-- content box -->
    <div id="page-content" class="box">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <p class="count-label">Graduation Rate in <span id="school_year"></span></p> 
                <br>
                <p id="graduation_rate" class="count"></p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <p class="count-label">Public Parks in <span id="recreation_year">)</span></p> 
                <br>
                <p id="public_park_count" class="count"></p>
            </div>    
            <div class="col-md-2"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <p class="count-label">Homes For Sale in <span id="existing_house_year">)</span></p> 
                <br>
                <p id="for_sale_count" class="count"></p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <p class="count-label">Incident Calls in <span id="incident_year">)</span></p> 
                <br>
                <p id="incident_count" class="count"></p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <script src="/js/dashboard.js" type="text/javascript"></script> 

</body>
